.success,
.error {
  color: #fff;
  padding: 5px;
  margin: 5px 0 15px 0;
}
.success {
  background: green;
}
.error {
  background: red;
}
.delete {
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 1rem;
}
